.list-group {
  list-style: none;
  /* margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.list-item {
  /* width: 75rem;
  height: 10.625rem; */
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px grey;
  background-color: #fff;
}

.btns {
  display: flex;
  gap: 20px;
}
